<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}

    <input type="text" name="email" placeholder="email"><br>

    <input type="password" name="password" placeholder="password" required><br>
    <button type="submit">Login</button>
  </form>
<p><a href="{% url 'register' %}">Cadastre-se</a></p>
<p><a href="{% url 'social:begin' 'google-oauth2' %}">Login com o Google</a></p>
</body>
</html>